@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.scrollbar-hide::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 6px;  
}

.scrollbar-hide::-webkit-scrollbar {
    width: 10px;
}


.scrollbar-hide {
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.scrollbar-hide {
    -ms-overflow-style: none;
}